#root {
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  overflow-y: hidden;
}

#comment-page{
  width: 800px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
}